---
title: 'Solutions'
order: 1
---

extends ../../templates/section

block heading
  :markdown
     ## IDEAS INTO SOLUTIONS

block content
  :markdown

    ### This title man, this title right here.

    We believe all software development is slowly converging on technologies that came to prominence on the web. JavaScript, HTML5 and CSS3 offer global standards for content presentation, design and interaction. Software built on these foundations is truly versatile: it can run on any platform and serve as the basis not just for web apps, but also for mobile apps, desktop apps and browser extensions.