---
title: 'JavaScript'
order: 1
---

extends ../../../templates/standard.jade

block content
  :markdown
    __EXTENSIBLE OPEN-SOURCE FRAMEWORKS FOR EVERY IMAGINABLE NEED__

    Due to its extensible nature, JavaScript is particularly suitable to writing generic frameworks. It sometimes seems that every would-be JavaScript expert has to write their own framework in order to earn guru status. Thousands of open-source frameworks, for everything from color management to single signon to a massive ecosystem server-side JavaScript, can be found on GitHub and elsewhere.


    __CROSSBROWSER COMPATIBILITY, CONVENIENT DOM ACCESS AND MORE__

    Once just one of several frameworks for cross-browser JavaScript development, jQuery is now practically ubiquitous. As well as smoothing over browser incompatibilities, it replaces the clunky DOM methods with a much more elegant and convenient interface.


    __TOMORROW'S JAVASCRIPT SYNTAX, TODAY__

    Even people who love the power, flexibility and performance of modern JavaScript don’t necessarily love the syntax. Even experts can be tripped up by the unexpected consequences of a misplaced semicolon or a misused `this` pointer. CoffeeScript gives you all that JavaScript goodness with a more coherent syntax reminiscent of Python or Ruby. Since it compiles down to JavaScript, it runs everywhere and is compatible with the thousands of JS tools and frameworks.

    It's no wonder that the proposal for the next generation of JavaScript looks in many ways like CoffeeScript. All of our developers have deep JavaScript expertise, but when given the choice many of them prefer to use CoffeeScript.
